.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 24px;
}

.h5 {
    font-size: 20px;
}

.h6 {
    font-size: 16px;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.fz4 {
    font-size: 4cm;
}

.fz2 {
    font-size: 2cm;
}

.text-end {
    text-align: end;
}

.max-l {
    max-width: 8cm;
}


.display-1 {
    font-size: 5rem;
}

.display-2 {
    font-size: 4.5rem;
}

.display-3  {
    font-size: 4rem,
}

.display-4  {
    font-size: 3.5rem,
}

.display-5  {
    font-size: 3rem,
}

.display-6  {
    font-size: 2.5rem
}